:root {
    font-family: 'Source Sans 3', sans-serif;
    --primary: #e9e9e9;
    --primary-alt: #e0e0e0;
    --secondary: #090909;
    --tertiary: #dddddd;
    --accent: #8447FF;
}

*, *::before, *::after {
    box-sizing: inherit;
    /* border: 1px solid red; */
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

a > * {
    pointer-events: none;
}

h1, h2, h3 {
    margin: 0;
}

p {
    line-height: 1.4em;
    font-size: 1rem;
    margin: 1em 0;
    font-weight: 350;
}

button > * {
    pointer-events: none;
}

.container {
    max-width: 1280px;
    min-width: 418px;
    margin: 0 auto;
}