/* ------------------------------
Site wide reset and basic styles
------------------------------ */

:root {
    font-family: 'Source Sans 3', sans-serif;

    --primary: #2A1F3A;
    --primary-alt: #F8F3FF;
    --secondary: #003027;
    --secondary-alt: #e8d6cb;
    --tertiary: #EAFFFD;
    --accent: #00ffc8;
    --accent-light: #e3fff9;
    --accent-alt: #850aff;
    --title-header: #FFFFFF;
    --highlight-dark: #262e49;
    --br: 5px;
    
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
        -1px 0px 1.5px hsl(var(--shadow-color) / 0),
        -1.6px 0px 2.4px hsl(var(--shadow-color) / 0.02),
        -3px 0px 4.5px hsl(var(--shadow-color) / 0.06);
    --shadow-elevation-medium:
        -1px 0px 1.5px hsl(var(--shadow-color) / 0),
        -3.2px 0px 4.8px hsl(var(--shadow-color) / 0.01),
        -5.4px 0.1px 8.1px hsl(var(--shadow-color) / 0.02),
        -8.9px 0.1px 13.4px hsl(var(--shadow-color) / 0.04),
        -15px 0.1px 22.5px hsl(var(--shadow-color) / 0.06);
    --shadow-elevation-high:
        -1px 0px 1.5px hsl(var(--shadow-color) / 0),
        -4.7px 0px 7.1px hsl(var(--shadow-color) / 0.02),
        -7.9px 0.1px 11.9px hsl(var(--shadow-color) / 0.02),
        -11px 0.1px 16.5px hsl(var(--shadow-color) / 0.02),
        -14.4px 0.1px 21.6px hsl(var(--shadow-color) / 0.03),
        -18.5px 0.2px 27.8px hsl(var(--shadow-color) / 0.04),
        -23.7px 0.2px 35.6px hsl(var(--shadow-color) / 0.05),
        -30.4px 0.3px 45.6px hsl(var(--shadow-color) / 0.06),
        -39px 0.4px 58.5px hsl(var(--shadow-color) / 0.05),
        -50px 0.5px 75px hsl(var(--shadow-color) / 0.04);
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

a > * {
    pointer-events: none;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

p {
    line-height: 1.4em;
    font-size: 1rem;
    margin: 1em 0;
    font-weight: 350;
}

button > * {
    pointer-events: none;
}

.container {
    max-width: 1280px;
    min-width: 418px;
    margin: 0 auto;
}