/* --------------------------------------------------------------------------------
Header styles. This file includes all the CSS for the header and navigation,
including the alternative navigation that opens when opening the 'hamburger' menu
at smaller screen sizes.

Future improvements: Move all 'nav' related styles to their own module
-------------------------------------------------------------------------------- */

.header {
    background-color: var(--primary-alt);
    width: 100%;
    min-height: 60px;
}

.container {
    background-color: var(--primary);
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    min-width: 418px;
    height: 100%;
    display: flex;
    padding: 0 1em;
    margin: 0 auto;
}

.bg {
    background-color: var(--tertiary);
    opacity: 0.6;
    width: 100dvw;
    position: absolute;
    top: 60px;
    left: 0;
    height: 480px;
    z-index: -1;

    @media (max-width: 1214px) {
        & {
            display: none;
        }
    }
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5em;
   

    img {
        display: block;
        width: 50px;
        aspect-ratio: 1/1;
        cursor: pointer;
    }
    
    h1 {
        display: inline;
        font-size: 1.2rem;
        margin-left: 0.2em;
        color: var(--title-header);
        cursor: pointer;
    }

    @media (min-width: 640px) {
        & {
            h1 {
                font-size: 1.8rem;
                margin-left: 0.2em;
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        background-color: var(--primary);
        z-index: 10;
        position: fixed;
        right: 0;
        top: 0;
        box-shadow: var(--shadow-elevation-medium);
        height: 100dvh;
        width: 50%;
        padding-top: 4em;

        ul {
            display: flex;
            list-style-type: none;
            flex-direction: column;
            align-items: center;
            min-width: fit-content;
            margin: 0;
            padding: 0;
            
            li .selected {
                border-left: 3px solid var(--accent);
                pointer-events: none;
            }

            li {
                margin-bottom: 1em;
                padding: 0 0.3em;
            }

            li a {
                color: var(--accent-light);
                letter-spacing: 1.3;
                font-size: 1.5rem;
                font-weight: 300;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0 0.3em;
                
                /* Using the hover media query here to prevent 'sticky' hover class
                when accessing the site via a touch screen device or any other device
                that doesn't have a cursor for true hover */
                @media (hover: hover) {
                    &:hover {
                        background-color: var(--accent-light);
                        color: var(--secondary);
                    }
                }

                &:active {
                    background-color: var(--accent);
                    color: var(--primary);                
                }
            }
        }

        .burgerLogo {
            display: none;
        }

        .close {
            display: block;
            color: var(--accent-light);
            border: none;
            background: none;
            position: absolute;
            top: .4em;
            right: .4em;
            cursor: pointer;
            color: var(--);
            z-index: 11;
    
            &:active {
                transform: scale(0.9);
            }
        }   
    }

    .hidden {
        display: none;
    }    

    .burger {
        color: var(--accent-light);
        display: flex;
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;

        &:active {
            transform: scale(0.9);
        }
    }

    /* Bulk of the menu media queries are here */
    @media (max-width: 480px) {
        & {
            div {
                width: 100%;
                padding-top: 0;

                ul {
                    li a {
                        font-size: 2.5rem;
                    }
                }

                .burgerLogo {
                    align-self: center;
                    display: block;
                    width: 50px;
                    aspect-ratio: 1/1;
                    margin: 1.5em 0;
                }
            }
        }   
    }

    @media (min-width: 768px) {
        & {
            div {
                position: relative;
                width: 100%;
                height: auto;
                display: flex;
                box-shadow: none;
                padding-top: 0;

                ul {
                    background-color: transparent;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    padding: 0;
                    justify-content: right;
                    gap: 2em;
                    align-items: center;
                    box-shadow: none;
                
                    li a {
                        font-size: 0.9rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 0 0.3em;
                    }

                    li {
                        margin: 0;
                    }

                    .close {
                        display: none;
                    }

                    li .selected {
                        border-left: 0;
                        border-bottom: 3px solid var(--accent);
                        pointer-events: none;
                    }
                }

                .burgerLogo { 
                    display: none;
                }

                .close {
                    display: none;
                }
            }

            .hidden {
                display: flex;
            }
    
            .burger {
                display: none;
            }

            
        }
    }
}