.header {
    background-color: var(--primary);
    width: 100%;
    min-width: 418px;
    height: 60px;
    display: grid;
    grid-template-columns: 1em 1.3fr 0.7fr 1em;
    grid-template-areas:
        ". logo menu ."
    ;
}

.logo {
    display: flex;
    justify-content: left;
    /* align-self: start; */
    align-items: center;
    gap: 0.5em;
    grid-area: logo;

    img {
        display: block;
        width: 50px;
        aspect-ratio: 1/1;
    }
    
    h1 {
        display: inline;
        font-size: 1.3rem;
    }

    @media (min-width: 640px) {
        & {
            h1 {
                font-size: 1.8rem;
                margin-left: 0.5em;
            }
        }
    }
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: menu;

    .menu {
        list-style-type: none;
        background-color: var(--primary);
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100dvh;
        min-width: fit-content;
        z-index: 10;
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        padding-top: 4em;
        
        li a {
            letter-spacing: 1.3;
            font-size: 1.5rem;
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0 0.3em;

            &:hover {
                background-color: var(--secondary);
                color: var(--primary);
            }

            &:active {
                background-color: var(--accent);
            }
        }

        li {
            margin-bottom: 1em;
        }

        .close {
            border: none;
            background: none;
            position: absolute;
            top: 0.5em;
            right: 1em;
            cursor: pointer;

            &:active {
                transform: scale(0.9);
            }
        }
    }

    .hidden {
        display: none;
    }

    .burger {
        display: flex;
        border: none;
        background: none;
        cursor: pointer;

        &:active {
            transform: scale(0.9);
        }
    }

    /* NAV MEDIA QUERIES */
    @media (max-width: 480px) {
        & {
            .menu {
                width: 100dvw;
            }

            li a {
                font-size: 5rem;
            }
        }
    }

    @media (min-width: 768px) {
        & {
            .menu {
                display: flex;
                flex-direction: row;
                position: relative;
                height: 100%;
                width: 100%;
                padding: 0;
                /* gap: 2em; */
                border-color: blue;
                justify-content: space-between;
                align-items: center;
            
                li a {
                    font-size: 0.9rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 0 0.3em;
                }

                li {
                    margin: 0;
                }

                .close {
                    display: none;
                }
            }
        }

        .burger {
            display: none;
        }      
    }
}

a {
    font-size: 1.0rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1.2;
    color: var(--secondary)
}

a:hover {
    text-decoration: underline;
}

