.mywork {
    composes: container from '../css/styles.css';

    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
        position: relative;
        max-height: 480px;
        margin-bottom: 2em;
        overflow: hidden;

        img {
            display: block;
            object-fit: cover;
            height: auto;
            aspect-ratio: 4/3;
            width: 100%;
        }
        
        div {
            position: absolute;
            bottom: 0;
            padding: 2em 4em;

            h1 {
                line-height: 1.2em;
                display: block;
        
                span {
                    background-color: var(--accent);
                    color: white;
                    display: inline;
                    box-decoration-break: clone;
                    -webkit-box-decoration-break: clone;
                    box-shadow: 10px 0 0 var(--accent), -10px 0 0 var(--accent);
                }
            }

            p {
                span {
                    background-color: var(--secondary);
                    color: white;
                    display: inline;
                    box-decoration-break: clone;
                    -webkit-box-decoration-break: clone;
                    box-shadow: 10px 0 0 var(--secondary), -10px 0 0 var(--secondary);
                }
            }
        }
    }

    @media (min-width: 640px) {
        & { 
            div {
                h1 {
                    font-size: 4rem;
                }

                p {
                    font-size: 2rem;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        & { 

        }
    }
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 1em;

    .descriptionContainer {
        min-height: inherit;
        padding: 0 2em;

        h2 {
            align-self: flex-start;
            color: var(--secondary);
            font-weight: 600;
            background: linear-gradient(
                            180deg,
                            rgba(255, 255, 255, 0) 50%,
                            var(--accent-alt) 50%
                        )
            
        }

        p {
            margin: 0.5em 0;
        }

        .subtitle {
            font-size: 1.4rem;
        }

        .stack {
            margin-top: 0.8em;
            display: flex;
            gap: 0.8em;

            div {
                background-color: var(--accent);
                color: var(--primary);
                letter-spacing: .05em;
                font-weight: 600;
                text-transform: uppercase;
                padding: .2em .5em;
            }
        }
    }

    .imageContainer {
        min-height: inherit;

        img {
            aspect-ratio: 1/1;
            display: block;
            margin: 0 auto;
            clip-path: polygon(
                0 0,
                100% 0,
                100% 90%,
                90% 100%,
                0 100%
            );
        }
    }

    /* .project medium */
    @media(min-width: 640px) {
        & {
            flex-direction: row;

            .stack {
                align-self: flex-start;
            }

            .descriptionContainer {
                width: 100%;
                /* gap: 1.5em; */

                a {
                    margin-top: 1em;
                    text-decoration: none;
                    color: var(--accent);
                    align-self: flex-start;

                    &:hover {
                        text-decoration: underline;
                    }
                }   
            }

            .imageContainer {
                width: 50%;

                img {
                    height: 300px;
                }

            }
        }
    }

    /* .project large */
    @media(min-width: 1024px) {

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        & {
            .descriptionContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
    
                h2 {
                    font-size: 3rem;
                }
            }
    
            .imageContainer {
                margin: 0 2em;
                
                img {
                    height: 475px;
                    aspect-ratio: 1/1;
                }
            }
        }
    }
}