/* Primary page class */
.mywork {
    composes: container from '../css/styles.css';

    .header {
        position: relative;
        max-height: 480px;
        margin-bottom: 3em;
        overflow: hidden;

        img {
            position: relative;
            display: block;
            object-fit: cover;
            height: auto;
            aspect-ratio: 4/3;
            width: 100%;
        }
        
        div {
            position: absolute;
            bottom: 0;
            padding: 3em;

            h1 {
                font-size: 2rem;
                line-height: 1.2em;
                display: block;
            }

        }

        @media (min-width: 640px) {
            & { 
                margin-bottom: 4em;
    
                div {
                    h1 {
                        font-size: 3rem;
                    }
    
                    p {
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
                }
            }
        }

        @media (min-width: 1024px) {
            & { 
                img {
                    transform: translateY(-20%)
                }
            }
        }
    }
}

/* Div that wraps the projects */
.projectsContainer {
    composes: container from '../css/styles.css';
    padding: 0 2em;
}

/* Individual project styles */
.project {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 6em;

    .descriptionContainer {
        display: flex;
        flex-direction: column;
        margin-top: 2em;

        h2 {
            font-size: 2.5rem;
            align-self: flex-start; /* Needed for the background highlight effect */
            color: var(--secondary);
            font-weight: 600;
            background: linear-gradient(
                            180deg,
                            rgba(255, 255, 255, 0) 50%,
                            var(--accent-light) 50%
                        )
        }

        p {
            font-size: 1.2rem;
            margin: 0.5em 0;
        }

        .subtitle {
            font-size: 1.4rem;
            margin-top: 1em;

            a {
                color: var(--accent-alt);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .stack {
            margin-top: 0.8em;
            align-self: flex-start;
            display: flex;
            flex-wrap: wrap;
            gap: 0.8em;

            div {
                background-color: var(--accent);
                color: var(--primary);
                font-size: .8rem;
                letter-spacing: .05em;
                font-weight: 600;
                text-transform: uppercase;
                padding: .2em .5em;
            }
        }
    }

    img {
        width: 100%;
        display: block;
        aspect-ratio: 1/1;
        clip-path: polygon(
            0 10%,
            10% 0,
            100% 0,
            100% 90%,
            90% 100%,
            0 100%,
            0 10%
        );
    }

    /* .project medium */
    @media (min-width: 640px) {
        & {
            flex-direction: row;        

            .descriptionContainer {
                padding-right: 2em;
                flex-direction: column;
                justify-content: center;
                margin-top: 0;

                p {
                    font-size: 1rem;
                }

                p:nth-child(4) {
                    display: none;
                }

                .stack {
                    div {
                        font-size: .8rem;
                    }
                }

                @media (max-width: 700px) {
                    padding-right: .5em;
                }
            }

            img {
                align-self: center;
                width: 50%;
                height: 50%;
            }
            
        }
    }

    /* .project large */
    @media(min-width: 1024px) {
        & {
            margin-bottom: 3em;

            .descriptionContainer {
                display: flex;
                flex-direction: column;
                padding: 0 3em 0 0;

                p {
                    font-size: 1.2rem;
                }

                p:nth-child(4) {
                    display: inline;
                }

                .subtitle {
                    font-size: 1.4rem;
                }

                .stack {
                    div {
                        font-size: 1rem;
                    }
                }
            }
            
            img {
                height: 475px;
            }            
        }

        /* Flip every other row at the biggest screen size */
        &:nth-child(even) {
            flex-direction: row-reverse;

            .descriptionContainer {
                padding: 0 0 0 3em;
            }
        }
    }
}