/* --------------------------------------------------------------------------------
Styles for the post related elements. Here we have:
    1. styles for an individual post (e.g. what you see when navigating via a link 
       to a post)
    2. Styles for the post previews you see when a page renders 'recent posts', e.g.
       the bottom of the homepage, and also underneath a post in the Recent Posts 
       section
-------------------------------------------------------------------------------- */

.post {
    composes: container from '../css/styles.css';
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    
    h1 {
        line-height: 1.2em;
        margin: 0.7em 0 0.5em 0.3em;
    }

    h2 {
        font-size: 1.2rem;
        margin: 1em 0 0.7em 0;
    }

    img {
        width: 100%;
        max-height: 480px;
        object-fit: cover;
        padding: 0 1em;
        margin: 1em 0 1em 0;
    }

    
    a {
        text-decoration: none;
        color: var(--secondary);
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    .date {
        grid-area: date;
        font-size: 1rem;
    }

    .postInner {
        padding: 0 2em;

        p {
            margin: 1.3em 0;
        }
    }

    /* Back button */
    .back {
        background-color: var(--primary-alt);
        color: var(--secondary);
        justify-self: center;
        align-self: center;
        padding: 0 0.5em;
        margin: 2em 0;
        text-transform: uppercase;
        letter-spacing: 1.3;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.5;

        &:hover {
            background-color: var(--secondary);
            text-decoration: none;
            color: var(--accent-light);
        }

        &:active {
            background-color: var(--accent);
            color: var(--secondary);
        }
    }
 
    /* Media queries for individual post */
    @media (min-width: 640px) {
        & {
            
            h1 {
                font-size: 3rem;
                width: 80%;
                margin-left: 0;
            }

            h2 {
                font-size: 1.5rem;
            }

            img {
                align-self: center;
                max-height: 480px;
                padding: 0 2.5em;
            }

            .postInner {
                padding: 0 5em;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    @media (min-width: 1280px) {
        & {
            h1 {
                width: 100%;
            }

            img {
                padding: 0 3.5em;
            }
            
            .postInner {
                padding: 0 6em;

            }
        }
    }
}

/* Recent posts responsive grid layout, used everywhere that shows recent posts */
.recentPosts {
    display: flex;
    flex-direction: column;

    .heading {
        font-size: 1.5rem;
        margin: 1.5em auto;
        align-self: center;
    }

    .recentPostsContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }

    /* Not much to do with media queries as the above grid layout handles
    everything quite elegantly. Just add some extra padding after 640px */
    @media (min-width: 640px) {
        padding: 0 1em;
    }
}

/* Post 'thumbnails' in recent posts */
.recentPost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6em;
    margin: 0 1em 3em 1em;
    
    h2 {
        font-size: 1.5rem;
    }

    img {
        width: 100%;
        aspect-ratio: 5/3;
    }  

    .date {
        font-size: 0.9rem;
        margin-top: 0.5em;
    }

    p { 
        margin: 0 
    }

    a {
        color: var(--secondary);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}