.post {
    composes: container from '../css/styles.css';
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    
    h1 {
        line-height: 1.2em;
        margin: 0.7em 0 0.5em 0.3em;

        span {
            background-color: var(--accent);
            color: white;
            display: inline;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
            box-shadow: 10px 0 0 var(--accent), -10px 0 0 var(--accent);
        }
    }

    h2 {
        font-size: 1rem;
        margin: 0.7em auto;
    }

    img {
        width: 100%;
        margin: em auto;
        object-fit: cover;
        padding: 0 2.5em;
    }

    .date {
        grid-area: date;
        font-size: 0.8em;

        span {
            font-weight: 700;
        }
    }

    a {
        text-decoration: none;
        color: var(--secondary);

        &:hover {
            text-decoration: underline;
        }
    }

    .postInner {
        padding: 0 5em;

        p {
            margin: 1.5em 0;
        }
    }

    .back {
        background-color: var(--primary);
        justify-self: center;
        align-self: center;
        padding: 0 0.5em;
        margin: 2em 0;
        text-transform: uppercase;
        letter-spacing: 1.3;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.5;

        &:hover {
            background-color: var(--secondary);
            text-decoration: none;
            color: var(--primary);
        }

        &:active {
            background-color: var(--accent);
        }
    }
 
    @media (min-width: 640px) {
        & {
            column-gap: 2em;
            grid-template-columns: 0 0 1fr 0 0;
            grid-template-areas:
                '. . date . .'
                '. . title . .'
                '. . intro . .'
                '. img img img .'
                '. . content . .'
                '. . back . .';
            
            h1 { 
                width: 80%;
                margin-left: 0;
            }

            img {
                max-height: 480px;
            }
        }
    }

    @media (min-width: 1280px) {
        & {
            column-gap: 4em;
            h1 {
                width: 100%;
            }
        }
    }
}

/* Recent posts responsive grid layout, used anywhere that shows recent posts */
.recentPosts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0 1em;
}

.recentPost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6em;
    margin: 0 1em 3em 1em;
    
    img {
        width: 100%;
        aspect-ratio: 4/3;
    }

    .date {
        font-size: 0.9rem;
        margin-top: 0.5em;
    }

    p { 
        margin: 0 
    }

    a {
        color: var(--secondary);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}